@model IEnumerable<BankOnline.Models.InvestmentGroup>
@{
    ViewBag.Title = "About";
}
<h2>Total Investments Statistics</h2>

<table>
    <tr>
        <th>
            Investment type
        </th>
        <th>
            Balance
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @item.Balance
            </td>
        </tr>
    }
</table>